<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head data-th-replace="~{/layouts/header :: head}"></head>
	
	<body>
		<footer th:fragment="footer" class="container text-center p-3 mb-2 bg-dark text-white">
		  <div class="row">
		    <div class="col-sm-5 col-md-6">Direccion: Ítalo Palanca Nº 10</div>
		    <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">Correo: info@fi.unju.edu.ar</div>
		  </div>
		  
		  <div class="row">
		    <div class="col-sm-6 col-md-5 col-lg-6">Telefono: 0388 422-1580</div>
		    <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0">
		    	Redes:
		    	<a href="https://www.youtube.com/channel/UCgS9XJlKKSYI1oJ4lIOo77A">Youtube</a>
		    	<a href="https://www.facebook.com/fiunju/">Facebook</a>
		    </div>
		  </div>
		  
		  <div class="row text-center">
		  	Copyright&copy; 2014-2022 - Facultad de Ingeniería - UNJu
		  </div>
		</footer>
	</body>
</html>