<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="~{/layouts/header :: head}" ></head>
<body>
	<div id="container-fluid">
		<header data-th-replace="~{/layouts/header :: header}" ></header>
		<div class="row">
				<div class="col col-sm-12 fondo-form p-5">
					<div class="row mb-5">
						<div class="d-grid gap-2 d-md-flex justify-content-md-end mb-2">
							<a class="btn btn-primary" data-th-href="@{/alumno/nuevo}">Agregar nuevo Alumno</a>
						</div>
						<table class="table table-striped table-hover">
							<tr>
								<th>LU</th>
								<th>DNI</th>
								<th>Nombre</th>
								<th>Apellido</th>
								<th>Fecha de Nacimiento</th>
								<th>Domicilio</th>
								<th>Email</th>
								<th>Num. Telefono</th>
							</tr>
							
							<tr data-th-each="alm: ${alumnos}">
								<td data-th-text="${alm.LU}"></td>
								<td data-th-text="${alm.dni}"></td>
								<td data-th-text="${alm.nombre_alumno}"></td>
								<td data-th-text="${alm.apellido_alumno}"></td>
								<td data-th-text="${alm.fecha_nac}"></td>
								<td data-th-text="${alm.domicilio_alumno}"></td>
								<td data-th-text="${alm.email_alumno}"></td>
								<td data-th-text="${alm.num_celular}"></td>
								<td>
									<a class="btn btn-warning" data-th-href="@{/alumno/modificar/}+${alm.LU}">Editar</a>
									<button class="btn btn-danger"  data-bs-toggle="modal" data-bs-target="#deleteModal" 
									th:data-LU="${alm.LU}">Eliminar</button>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
	</div>
	<footer data-th-replace="~{/layouts/footer :: footer}"></footer>
	
		<!-- Modal -->
		<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-tittle" id="deleteModalLabel">Confirmar Eliminación</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						¿Estás seguro que deseas eliminar?
					</div>
					<div class="model-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
						<form th:action="@{/alumno/eliminar/{LU}(LU=${selectedLU})}" method="get">
							<button type="submit" class="btn btn-danger">Eliminar</button>
						</form>
					</div>
				</div>
			</div>
		
		</div>
		
		<script>
			document.addEventListener('DOMContentLoaded',function(){
				var deleteModal= document.getElementById('deleteModal');
				deleteModal.addEventListener('show.bs.modal',function(event){
					var button= event.relatedTarget;
					var LU=button.getAttribute('data-LU');
		            var form = deleteModal.querySelector('form');
		            form.setAttribute('action', '/alumno/eliminar/' + LU);
		       
				});
			});
		</script>

	<script type="text/javascript" data-th-src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}" ></script>
</body>
</html>