<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
	<head data-th-replace="~{/layouts/header :: head}" ></head>
	<body>
		<div id="container-fluid">
			<header data-th-replace="~{/layouts/header :: header}" ></header>
			<div class="row py-5">
				<div class="row mb-5">
					<h3 data-th-text="${edicion}?'Modificar Carrera':'Nueva Carrera'" class="text-center"></h3>
				</div>
				<div class="row">
					<form data-th-action="${edicion}?@{/carrera/modificar} : @{/carrera/guardar}" th:object="${carrera}" method="post">
					
						<div class="row mb-3 justify-content-center">
							<label for="codigo" class="col-sm-12 col-lg-2 col-form-label text-lg-end">Código</label>
							<div class="col-sm-12 col-lg-4">
								<input type="number" class="form-control" id="codigo" th:field="*{cod_carrera}" th:disabled="${edicion}?true:false">
								<input type="hidden" class="form-control" id="codigo" th:field="*{cod_carrera}" th:if="${edicion}">
							</div>
						</div>
						
						<div class="row mb-3 justify-content-center">
							<label for="nombre" class="col-sm-12 col-lg-2 col-form-label text-lg-end">Nombre</label>
							<div class="col-sm-12 col-lg-4">
								<input type="text" class="form-control" id="nombre" th:field="*{nombre_carrera}">
							</div>
						</div>
						
						<div class="row mb-3 justify-content-center">
							<label for="duracion" class="col-sm-12 col-lg-2 col-form-label text-lg-end">Años de duracion</label>
							<div class="col-sm-12 col-lg-4">
								<input type="number" class="form-control" id="duracion" th:field="*{cant_anios}">
							</div>
						</div>
						
						<div class="row mb-3 justify-content-center" th:if="${edicion}">
							<label for="estado" class="col-sm-12 col-lg-2 col-form-label text-lg-end">Estado</label>
							<div class="col-sm-12 col-lg-4">
								<input type="radio" class="form-control-input" th:field="*{estado}" value="true" name="radioActiva">
								<label class="form-control-label" for="radioActiva">Activa</label>
								
								<input type="radio" class="form-control-input" th:field="*{estado}" value="false" name="radioInactiva">
								<label class="form-control-label" for="radioInactiva">Inactiva</label>
							</div>
						</div>
						
						<p class="text-center"><input type="submit" class="btn btn-primary" th:value="${edicion}?'Modificar':'Guardar'"></p>
						
					</form>
			</div>
				
		</div>
		</div>
		
		<footer data-th-replace="~{/layouts/footer :: footer}"></footer>
		<script type="text/javascript" data-th-src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}" ></script>
	</body>
</html>