<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
	<head data-th-replace="~{/layouts/header :: head}" ></head>
	<body>
		<div id="container-fluid">
			<header data-th-replace="~{/layouts/header :: header}" ></header>
			<div class="row py-5">
				<div class="row mb-5">
					<h3 data-th-text="${edicion}?'Modificar Docente':'Nuevo Docente'" class="text-center"></h3>
				</div>
				
				<div class="row">
					<form data-th-action="${edicion}?@{/docente/modificar} : @{/docente/guardar}" th:object="${docente}" method="post">
					
						<div class="row mb-3 justify-content-center">
							<label for="codigo" class="col-sm-12 col-lg-2 col-form-label text-lg-end">Legajo del docente</label>
							<div class="col-sm-12 col-lg-4">
								<input type="number" class="form-control" id="codigo" th:field="*{legajo}" th:disabled="${edicion}?true:false">
								<input type="hidden" class="form-control" id="codigo" th:field="*{legajo}" th:if="${edicion}">
							</div>
						</div>
						
						<div class="row mb-3 justify-content-center">
							<label for="nombre" class="col-sm-12 col-lg-2 col-form-label text-lg-end">Nombre del docente</label>
							<div class="col-sm-12 col-lg-4">
								<input type="text" class="form-control" id="nombre" th:field="*{nombre_docente}">
							</div>
						</div>
						
						<div class="row mb-3 justify-content-center">
							<label for="nombre" class="col-sm-12 col-lg-2 col-form-label text-lg-end">Apellido del docente</label>
							<div class="col-sm-12 col-lg-4">
								<input type="text" class="form-control" id="nombre" th:field="*{apellido_docente}">
							</div>
						</div>
						
						<div class="row mb-3 justify-content-center">
							<label for="nombre" class="col-sm-12 col-lg-2 col-form-label text-lg-end">Correco electronico del docente</label>
							<div class="col-sm-12 col-lg-4">
								<input type="email" class="form-control" id="nombre" th:field="*{email_docente}">
							</div>
						</div>
						
						<div class="row mb-3 justify-content-center">
							<label for="nombre" class="col-sm-12 col-lg-2 col-form-label text-lg-end">Num. teléfono del docente</label>
							<div class="col-sm-12 col-lg-4">
								<input type="number" class="form-control" id="nombre" th:field="*{num_telefono}">
							</div>
						</div>
						
						<p class="text-center"><input type="submit" class="btn btn-primary" th:value="${edicion}?'Modificar':'Guardar'"></p>
						
					</form>
			</div>
			</div>
		</div>
		<footer data-th-replace="~{/layouts/footer :: footer}"></footer>
		<script type="text/javascript" data-th-src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}" ></script>
	</body>
</html>